@media screen and(max-width: 1200px) {
  .content__letter_selected {
    width: 86px !important;
    height: 86px !important;
  }

  .top .top__current-question .top__rows .top__row .top__item_selected {
    width: 71px !important;
    height: 71px !important;
  }

  .clock-icon {
    margin-bottom: 38px !important;
  }

  .current-question-icon {
    margin: 0 0 50px 40px;
  }

  .grades-icon {
    margin-bottom: 100px !important;
  }

  .top__current-question {
    padding: 0 !important;
  }

  .top__rows {
    width: 400px !important;
    padding: 0 !important;

      .top__item {
        width: 65px !important;
        height: 65px !important;

        .num_icon {
          font-size: 35px;
        }
      }
  }

  .content {
    .content__txt {
      font-size: 45px;
    }
  }

  // Answers Block
  .content__answers {
    grid-gap: 120px;

    .content__option {
      .content__letter {
        width: 80px;
        height: 80px;

        .letter-icon {
          font-size: 40px;
        }
      }

      .answer-txt {
        font-size: 30px;
      }
    }
  }

  //  Next Button
  .content__next-btn {
    margin-top: 100px;
    &:hover {
      transform: translateX(0) !important;

      .next-icon {
        color: rgb(111, 224, 202) !important;
      }
    }

    .next-icon {
      font-size: 100px !important;
    }
  }

  .content__finish-btn {
    width: 350px !important;
    height: 70px !important;
    margin-top: 100px !important;
    font-size: 35px !important;

    &:hover {
      transform: translateY(0) !important;
      box-shadow: 0 0 !important;
    }
  }
}

@media screen and(max-width: 600px) {
  .content__letter_selected {
    width: 126px !important;
    height: 126px !important;
  }

  .top .top__current-question .top__rows .top__row .top__item_selected {
    width: 81px !important;
    height: 81px !important;
  }

  .clock-icon {
    margin-bottom: 55px !important;
  }

  .top__rows {
    width: 450px !important;
    padding: 0 !important;

    .top__item {
      width: 75px !important;
      height: 75px !important;

      .num_icon {
        font-size: 45px;
      }
    }
  }

  .clock-icon, .current-question-icon {
    font-size: 60px !important;
  }

  .content {
    .content__img {
      width: 1050px;
      height: 500px;
    }

    .content__txt {
      font-size: 60px;
    }
  }

  // Answers Block
  .content__answers {
    grid-gap: 160px;

    .content__option {
      .content__letter {
        width: 120px;
        height: 120px;

        .letter-icon {
          font-size: 60px;
        }
      }

      .answer-txt {
        font-size: 50px;
      }
    }
  }

  //  Next Button
  .content__next-btn {
    margin-top: 160px;

    .next-icon {
      font-size: 140px !important;
    }
  }

  .content__finish-btn {
    width: 500px !important;
    height: 100px !important;
    margin-top: 150px !important;
    font-size: 50px !important;
  }
}