@media screen and(max-width: 1200px) {
  .content__letter_selected {
    width: 86px !important;
    height: 86px !important;
  }

  .top .top__current-question .top__rows .top__row .top__item_selected {
    width: 71px !important;
    height: 71px !important;
  }

  .clock-icon {
    margin-bottom: 38px !important;
  }

  .current-question-icon {
    margin: 0 0 50px 40px;
  }

  .grades-icon {
    margin-bottom: 100px !important;
  }

  .top__current-question {
    padding: 0 !important;
  }

  .top__rows {
    width: 400px !important;
    padding: 0 !important;

      .top__item {
        width: 65px !important;
        height: 65px !important;

        .num_icon {
          font-size: 35px;
        }
      }
  }

  .grades-txt {
    font-size: 40px !important;
  }


  .content {
    .content__txt {
      font-size: 45px;
    }
  }

  // Answers Block
  .content__answers {
    grid-gap: 60px;

    .content__option {
      width: fit-content;

      .content__letter {
        width: 80px;
        height: 80px;

        .letter-icon {
          font-size: 40px;
        }
      }

      .answer-txt {
        font-size: 30px;
      }
    }
  }

  //  Next Button
  .content__next-btn {
    &:hover {
      transform: translateX(0) !important;

      .next-icon {
        color: rgb(111, 224, 202) !important;
      }
    }

    .next-icon {
      margin-top: 100px;
      font-size: 100px !important;
    }
  }

  .stats__finish-btn {
    &:hover {
      transform: translateY(0) !important;
      box-shadow: 0 0 !important;
    }
  }
}