// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

// Main Styles
* {
  padding: 0;
  margin: 0;
}

#stats-wrapper {
  width: fit-content;
  margin: auto;
  min-height: 100vh;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}

// Text Block
.gratitude {
  width: 500px;
  margin: auto;
  background-color: rgb(111, 224, 202);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;

  .gratitude__txt {
    font-size: 30px;
    margin: 20px;
  }

  .gratitude__grades {
    font-size: 25px;
    margin: 20px;
  }
}

// Answers
.answers {
  margin: auto;
  position: relative;
  text-align: center;

  .answers__row {
    margin-top: 160px;
    text-align: center;

    .answers__question {
      margin-bottom: 20px;
      font-size: 30px;
    }

    .answers__number {
      margin-bottom: 20px;
      font-size: 30px;
    }

    .answers__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 230px;
      border: 3px solid rgb(111, 224, 202);
      padding: 20px;
    }

    .answers__bl {
      height: fit-content;
      text-align: center;

      .letter {
        font-size: 25px;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px !important;
        height: 56px !important;
        border-radius: 50%;
        margin: auto;
      }

      .round {
        width: 50px !important;
        height: 50px !important;
        border: 3px solid rgb(255, 94, 149);
      }

      .round-user {
        width: 50px !important;
        height: 50px !important;
        border: 3px solid rgb(111, 224, 202);
      }

      p {
        display: block;
        font-size: 25px;
        margin: 10px;
      }
    }
  }
}

// Restart Button
.restart-btn {
  display: block;
  width: 250px;
  height: 50px;
  margin: 100px auto;
  background-color: rgb(255, 94, 149);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;

  text-decoration: none;
  color: white;
  font-size: 30px;

  &:hover {
    transform: translateY(-30px);
    box-shadow: 0 10px 10px 0 rgb(111, 224, 202);
  }
}

@media screen and(max-width: 1250px) {
  .restart-btn {
    &:hover {
      transform: translateY(0);
      box-shadow: 0 0;
    }
  }
}

@media screen and(max-width: 950px) {
  .answers__content {
    height: 180px !important;
  }

  .letter {
    font-size: 20px !important;
  }

  .answers .answers__row .answers__bl span {
    width: 46px !important;
    height: 46px !important;
  }

  .answers .answers__row .answers__bl .round {
    width: 40px !important;
    height: 40px !important;
  }

  .answers .answers__row .answers__bl .round-user {
    width: 40px !important;
    height: 40px !important;
  }

  .answers__bl {
    p {
      font-size: 20px !important;
    }
  }
}

@media screen and(max-width: 750px) {
  .answers__question {
    font-size: 25px !important;
  }

  .answers__number {
    font-size: 25px !important;
  }

  .answers__content {
    width: 480px;
    margin: auto;
    height: 130px !important;
  }

  .letter {
    font-size: 15px !important;
  }

  .answers .answers__row .answers__bl span {
    width: 36px !important;
    height: 36px !important;
  }

  .answers .answers__row .answers__bl .round {
    width: 30px !important;
    height: 30px !important;
  }

  .answers .answers__row .answers__bl .round-user {
    width: 30px !important;
    height: 30px !important;
  }

  .answers__bl {
    p {
      font-size: 15px !important;
    }
  }
}