@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
}

#stats-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  min-height: 100vh;
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
}

.gratitude {
  width: 500px;
  margin: auto;
  background-color: rgb(111, 224, 202);
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  text-align: center;
}
.gratitude .gratitude__txt {
  font-size: 30px;
  margin: 20px;
}
.gratitude .gratitude__grades {
  font-size: 25px;
  margin: 20px;
}

.answers {
  margin: auto;
  position: relative;
  text-align: center;
}
.answers .answers__row {
  margin-top: 160px;
  text-align: center;
}
.answers .answers__row .answers__question {
  margin-bottom: 20px;
  font-size: 30px;
}
.answers .answers__row .answers__number {
  margin-bottom: 20px;
  font-size: 30px;
}
.answers .answers__row .answers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 230px;
  border: 3px solid rgb(111, 224, 202);
  padding: 20px;
}
.answers .answers__row .answers__bl {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.answers .answers__row .answers__bl .letter {
  font-size: 25px;
}
.answers .answers__row .answers__bl span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px !important;
  height: 56px !important;
  border-radius: 50%;
  margin: auto;
}
.answers .answers__row .answers__bl .round {
  width: 50px !important;
  height: 50px !important;
  border: 3px solid rgb(255, 94, 149);
}
.answers .answers__row .answers__bl .round-user {
  width: 50px !important;
  height: 50px !important;
  border: 3px solid rgb(111, 224, 202);
}
.answers .answers__row .answers__bl p {
  display: block;
  font-size: 25px;
  margin: 10px;
}

.restart-btn {
  display: block;
  width: 250px;
  height: 50px;
  margin: 100px auto;
  background-color: rgb(255, 94, 149);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.restart-btn:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-box-shadow: 0 10px 10px 0 rgb(111, 224, 202);
          box-shadow: 0 10px 10px 0 rgb(111, 224, 202);
}

@media screen and (max-width: 1250px) {
  .restart-btn:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
  }
}
@media screen and (max-width: 950px) {
  .answers__content {
    height: 180px !important;
  }

  .letter {
    font-size: 20px !important;
  }

  .answers .answers__row .answers__bl span {
    width: 46px !important;
    height: 46px !important;
  }

  .answers .answers__row .answers__bl .round {
    width: 40px !important;
    height: 40px !important;
  }

  .answers .answers__row .answers__bl .round-user {
    width: 40px !important;
    height: 40px !important;
  }

  .answers__bl p {
    font-size: 20px !important;
  }
}