$green: #00b894;

@keyframes shadowAnimation {
  from { box-shadow: 0 10px 50px $green }
  to { box-shadow: 0 10px 200px $green }
}

.load-animation {
  height: 500px !important;
  opacity: 1 !important;
}

#wrapper {
  background-color: white;
  transition: background-color 2s;

  .content {
    background-color: white;
    transition: height 0.3s, box-shadow 1s;
    animation: 1s shadowAnimation alternate infinite;

    div {
      hr {
        background-color: black;
      }

      a {
        &:after {
          content: "";
          width: 0;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: -2px;
          background-color: $green;
          transition: width 0.3s;
        }

        &:hover {
          color: $green;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  @keyframes shadowAnimation {
    from { box-shadow: 0 10px 30px $green }
    to { box-shadow: 0 10px 130px $green }
  }
}

@media (max-width: 1024px) {
  @keyframes shadowAnimation {
    from { box-shadow: 0 10px 20px $green }
    to { box-shadow: 0 10px 100px $green }
  }

  .load-animation {
    height: 400px !important;
  }

  #wrapper .content {
    width: 95%;
    padding: 0 50px;

    div {
      p {
        font-size: 30px;
      }

      hr {
        height: 3px;
      }

      a {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  @keyframes shadowAnimation {
    from {box-shadow: 0 10px 10px $green}
    to {box-shadow: 0 10px 60px $green}
  }

  .load-animation {
    height: 300px !important;
  }

  #wrapper .content {
    padding: 0 20px;

    div {
      p {
        font-size: 18px;
        line-height: 28px;
      }

      hr {
        height: 2px;
        margin: 20px auto;
      }

      a {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 425px) {
  @keyframes shadowAnimation {
    from { box-shadow: 0 10px 10px $green }
    to { box-shadow: 0 10px 40px $green }
  }

  .load-animation {
    height: 170px !important;
  }

  #wrapper .content {
    div {
      p {
        font-size: 16px;
      }

      hr {
        margin: 15px auto;
      }

      a {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 375px) {
  #wrapper .content {
    padding: 0 15px;
  }
}

@media (max-width: 320px) {
  #wrapper .content {
    padding: 0 10px;
  }
}
