@import "Test.module";

#wrapper {
  .gratitude {
    background-color: $lightGreen;

    .colorful-text {
      color: $pink;
    }
  }

  .answers {
    .answers__content {
      width: 600px;
      border: 3px solid $lightGreen;

      .true-answer {
        border: 3px solid $pink;
      }

      .user-answer {
        border: 3px solid $lightGreen;
      }
    }
  }

  .restart-btn {
    background-color: $pink;

    &:hover {
      transform: translateY(-20px);
      box-shadow: 0 10px 10px 0 $lightGreen;
    }
  }
}

@media (max-width: 768px) {
  #wrapper {
    .gratitude {
      width: fit-content;
      padding: 15px;

      h2, p {
        margin: 15px;
      }

      h2 {
        font-size: 21px;
      }

      p {
        font-size: 17px;
      }
    }

    .answers .answers__question {
      margin-top: 120px;

      h1 {
        margin-bottom: 20px;
      }

      .answers__content {
        width: 95%;
        height: fit-content;
        padding: 15px;
        margin: auto;
        grid-template-columns: repeat(2, auto);
        gap: 20px;

        span i {
          font-size: 17px;
        }

        .true-answer, .user-answer {
          width: 39px !important;
          height: 39px !important;
        }

        p {
          margin: 10px;
          font-size: 20px;
        }
      }
    }

    .restart-btn {
      margin: 80px auto;
      font-size: 21px;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 425px) {
  #wrapper {
    .gratitude {
      h2, p {
        margin: 10px 0;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }

    .answers .answers__question {
      h1 {
        font-size: 22px;
      }

      .answers__content div {
        span {
          width: 34px;
          height: 34px;

          i {
            font-size: 15px;
          }
        }

        .true-answer, .user-answer {
          width: 34px !important;
          height: 34px !important;
        }

        p {
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #wrapper {
    .gratitude {
      width: 95%;
      padding: 10px;

      h2, p {
        margin: 10px;
      }

      h2 {
        font-size: 17px;

      }

      p {
        font-size: 14px;
      }
    }

    .answers .answers__question {
      margin-top: 100px;

      h1 {
        margin-bottom: 15px;
        font-size: 18px;
      }

      .answers__content div {
        span {
          width: 29px;
          height: 29px;

          i {
            font-size: 13px;
          }
        }

        .true-answer, .user-answer {
          width: 29px !important;
          height: 29px !important;
        }

        p {
          font-size: 15px;
        }
      }
    }

    .restart-btn {
      margin: 60px auto;
      font-size: 20px;
    }
  }
}
