$lightGreen: rgb(111, 224, 202);
$pink: rgb(255, 94, 149);

@keyframes textAnim {
  0% {
    filter: blur(0);
    transform: translateY(0)
  }
  25% {
    filter: blur(5px);
    transform: translateY(-10px)
  }
  50% {
    filter: blur(5px);
    transform: translateY(-10px)
  }
  75% {
    filter: blur(5px);
    transform: translateY(-10px)
  }
  100% {
    filter: blur(0);
    transform: translateY(0)
  }
}

@keyframes imgAnim {
  0% { filter: blur(0) }
  25% { filter: blur(20px) }
  50% { filter: blur(20px) }
  75% { filter: blur(20px) }
  100% { filter: blur(0) }
}

.text-animation {
  animation-name: textAnim;
  animation-duration: 0.8s;
}

.img-animation {
  animation-name: imgAnim;
  animation-duration: 0.8s;
}

#wrapper {
  header {
    border-bottom: 3px solid $lightGreen;

    .clock-icon, .current-question-icon {
      font-size: 35px;
      color: $lightGreen;
    }

    .timer {
      width: 530px;
      padding: 0 30px;

      div {
        height: 140px;

        svg {
          width: 125px;
          height: 125px;
          left: 50%;
          transform: translateX(-50%);

          circle {
            transform-origin: center;
            transform: rotate(-90deg);
            transition: stroke-dashoffset 0.3s;
          }
        }

        p {
          bottom: 56px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .questions {
      padding: 0 75px;
      border-left: 3px solid $lightGreen;

      div {
        .current-question {
          background-color: $pink !important;
          border: 3px solid $pink !important;
          color: white;
        }

        .questions__number {
          border: 3px solid $lightGreen;
        }
      }
    }
  }

  main {
    img {
      width: 600px;
      height: 330px;
      border: 3px solid $pink;
    }

    .answers {
      min-width: 500px;

      .selected-answer {
        background-color: $pink;
        border: none !important;
        color: white;
      }

      div {
        span {
          border: 3px solid $lightGreen;
          transition: box-shadow 0.5s;
        }
      }
    }

    .next-btn {
      color: $lightGreen;

      &:hover {
        color: $pink;
      }
    }
  }
}

@media (max-width: 1024px) {
  #wrapper {
    header {
      .clock-icon, .current-question-icon {
        font-size: 30px;
      }

      .clock-icon {
        margin-bottom: 15px;
      }

      .current-question-icon {
        margin-bottom: 30px;
      }

      .timer {
        width: 390px;
      }

      .questions {
        width: fit-content;

        .questions__number {
          width: 38px;
          height: 38px;
          font-size: 16px;
        }
      }
    }

    main .next-btn:hover {
      color: $lightGreen !important;
    }
  }
}

@media (max-width: 768px) {
  #wrapper {
    header {
      width: fit-content;
      flex-direction: column;
      margin: auto;

      .clock-icon, .current-question-icon {
        font-size: 25px;
      }

      .timer {
        width: 100%;
        border-bottom: 3px solid rgb(111, 224, 202);
        padding-bottom: 10px;

        div {
          svg circle {
            r: 50;
            cx: 60;
            cy: 65;
          }

          p {
            font-size: 25px;
            bottom: 55px;
          }
        }
      }

      .questions {
        width: fit-content;
        border-left: none;
        padding: 20px 30px 0;

        .questions__number {
          width: 30px;
          height: 30px;
          font-size: 14px;
        }
      }
    }

    main {
      .question {
        p {
          font-size: 21px;
          margin: 25px 0;
        }

        img {
          width: 420px;
          height: 230px;
          border: 2px solid $pink;
        }
      }

      .answers {
        min-width: 400px;
        column-gap: 20px;

        div {
          i {
            font-size: 17px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  #wrapper main {
    .question {
      p {
        font-size: 18px;
      }

      img {
        width: 360px;
        height: 210px;
      }
    }

    .answers {
      min-width: 360px;
    }
  }
}

@media (max-width: 375px) {
  #wrapper {
    header {
      .clock-icon {
        margin-bottom: 15px;
      }

      .current-question-icon {
        margin-bottom: 30px;
      }

      .timer div {
        svg circle {
          r: 45;
        }

        p {
          font-size: 22px;
        }
      }
    }

    main {
      .question {
        p {
          font-size: 17px;
        }

        img {
          width: 320px;
          height: 180px;
        }
      }

      .answers {
        min-width: 300px;

        div {
          span {
            width: 33px;
            height: 33px;

            i {
              font-size: 15px;
            }
          }

          p {
            font-size: 14px;
          }
        }
      }

      .next-btn {
        font-size: 45px;
      }
    }
  }
}

@media (max-width: 320px) {
  #wrapper main {
    .question {
      p {
        font-size: 17px;
      }

      img {
        width: 95%;
        height: 180px;
      }
    }

    .answers {
      min-width: 260px;
    }
  }
}
